langchain
ipykernel
python-dotenv
langchain_community
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
pypdf
duckduckgo-search
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
